[Unit]
Description=CoreStation HX Agent
Wants=dbus.service
After=network.target dbus.socket

[Service]
Type=simple
ExecStart=/usr/sbin/CoreStationHXAgent
Restart=on-failure

[Install]
WantedBy=multi-user.target