[Unit]
Description=CoreStation HX Agent
Wants=dbus.service
After=network.target dbus.socket

[Service]
Type=forking
PIDFile=/run/CoreStationHXAgent/CoreStationHXAgent.pid 

RuntimeDirectory=CoreStationHXAgent

ExecStart=/usr/sbin/CoreStationHXAgent
Restart=on-failure

[Install]
WantedBy=multi-user.target