Source: corestationhxagent
Section: utils
Priority: optional
Maintainer: Michael Madell <michael.madell@amulethotkey.com>
Build-Depends: debhelper (>= 13), cmake, dh-cmake, pkg-config, libdbus-1-dev
Standards-Version: 4.6.2
Homepage: https://amulethotkey.com

Package: corestationhxagent
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager, libdbus-1-3, intel-gpu-tools
Description: CoreStation HX Agent
 This agent monitors system status and reports it over a serial connection.
 It is designed to run as a background service.
