[Unit]
Description=CoreStation HX Agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/CoreStationHXAgent
Restart=on-failure

[Install]
WantedBy=multi-user.target